*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

li {
  list-style-type: none;
}

:focus,
:hover,
:disabled {
  outline: none;
}

:active {
  text-decoration: none;
  border-bottom: none;
}

/* header */

.container {
  -webkit-display: flex;
    -moz-display: flex;
      display: flex;
  max-width: 1180px;
  margin: 0 auto;
}

.mg-wrap {
  margin-top: 50px;
}

.logo-link:hover,
.logo-link:focus {
  opacity: 0.5;
}

.logo-link:active {
  opacity: 0.3;
}

.header-logo {
  -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
      align-items: flex-end;
}

.header-nav {
  margin-left: 40px;
}

.header-navigation {
  -webkit-display: flex;
    -moz-display: flex;
      display: flex;
  -webkit-align-items: center;
    -moz-align-items: center;
      align-items: center;
}

.header-navigation-item {
  padding-left: 20px;
}

.header-navigation-link {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #1E0606;
}

.header-navigation-link:hover,
.header-navigation-link:focus {
  opacity: 0.5;
}

.header-navigation-link:active {
  opacity: 0.3;
}

.contact-us {
  -webkit-display: flex;
    -moz-display: flex;
      display: flex;
  -webkit-align-items: center;
    -moz-align-items: center;
      align-items: center;
  margin-left: auto;
}

.contact-us-link {
  padding-left: 25px;
}

.search-btn:hover,
.search-btn:focus {
  opacity: 0.5;
  cursor: pointer;
}

.search-btn:active {
  opacity: 0.3;
}

.search-btn {
  border: none;
  outline: none;
  background: transparent;
}

.contact-us-link {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #1E0606;
}

.contact-us-link:hover,
.contact-us-link:focus {
  opacity: 0.5;
}

.contact-us-link:active {
  opacity: 0.3;
}

/* footer */

.footer-container {
  -webkit-display: flex;
    -moz-display: flex;
      display: flex;
  -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
      flex-flow: row wrap;
  -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
      justify-content: space-between;
  max-width: 1180px;
  margin: 0 auto;
}

footer {
  background-color: #434343;
}

/* h3 font style */

h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #AAAAAA;
}

/* footer navigation */

.footer-nav {
  margin-top: 90px;
  width: 100%;
  width: 380px;
}

.footer-navigation {
  border-top: 1px solid #666666;
  margin-top: 23px;
  padding-top: 28px;
}

.footer-navigation-item {
  padding-bottom: 15px;
}

.footer-navigation a {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}

.footer-navigation a:hover,
a:focus {
  opacity: 0.5;
}

.footer-navigation a:active {
  opacity: 0.2;
}


/* customer info */

.customer-info {
  margin-top: 90px;
  width: 100%;
  width: 380px;
}

.footer-additional-list {
  border-top: 1px solid #666666;
  margin-top: 23px;
  padding-top: 28px;
}

.footer-additional-list-item {
  padding-bottom: 15px;
}

.footer-additional-list-item a {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}

.footer-additional-list-item a:hover,
a:focus {
  opacity: 0.5;
}

.footer-additional-list-item a:active {
  opacity: 0.2;
}

/* connect */

.connect {
  margin-top: 90px;
  width: 380px;
}

.email-submit {
  -webkit-display: flex;
    -moz-display: flex;
      display: flex;
  border-top: 1px solid #666666;
  margin-top: 23px;
  padding-top: 28px;
}

.connect input {
  width: 380px;
  width: 100%;
  Height: 40px;
  padding: 15px 9px 9px;
  background-color: #666666;
  border: transparent 1px solid;
}

.connect input:hover,
input:focus {
  border: solid 1px #FFFFFF;
}

.connect input::placeholder {
  font-family: "Open Sans", "Arial", sans-serif;
  padding-left: 15px;
  padding: 0px;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #EBEBEB;
}

.join-btn {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  width: 81px;
  height: 40px;
  background: #000000;
}

.join-btn:hover,
.join-btn:focus {
  background-color: #C29974;
  cursor: pointer;
}

.join-btn:active {
  background-color: #CFAF91;
}

.join-btn:disabled {
  background-color: #C7C1C1;
}

/* social list */

.footer-social-list {
  -webkit-display: flex;
    -moz-display: flex;
      display: flex;
  -webkit-flex-direction: row;
    -moz-flex-direction: row;
      flex-direction: row;
}

.footer-social-list-item {
  margin-right: 10px;
}

.footer-social-list-item:hover,
.footer-social-list-item:focus {
  opacity: 0.5;
}

.footer-social-list-item:active {
  opacity: 0.3;
}

/* additional info */

.additional-info {
  -webkit-display: flex;
    -moz-display: flex;
      display: flex;
  -webkit-align-items: center;
    -moz-align-items: center;
      align-items: center;
  -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
      justify-content: flex-start;
  width: 100%;
  margin-bottom: 100px;
  border-top: 1px solid #666666;
}

.rate,
.copyright {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}

.copyright {
  margin-top: 25px;
  margin-left: 175px;
}

.rate {
  margin-right: 25px;
}

.rate:hover {
  color: #C29974;
  cursor: pointer;
}

/* rating stars */

.rating-area {
  -webkit-display: inline-flex;
    -moz-display: inline-flex;
      display: inline-flex;
  -webkit-flex-direction: row-reverse;
    -moz-flex-direction: row-reverse;
      flex-direction: row-reverse;
  -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
      justify-content: flex-end;
}

.rating-area:not(:checked)>input {
  display: none;
}

.rating-area:not(:checked)>label {
  float: right;
  width: 16px;
  padding: 0;
  cursor: pointer;
  font-size: 17px;
  line-height: 32px;
  color: lightgrey;
  text-shadow: 1px 1px #bbb;
}

.rating-area:not(:checked)>label:before {
  content: '★';
}

.rating-area>input:checked~label {
  color: #C29974;
  text-shadow: 1px 1px #C29974;
}

.rating-area:not(:checked)>label:hover,
.rating-area:not(:checked)>label:hover~label {
  color: #C29974;
}

.rating-area>input:checked+label:hover,
.rating-area>input:checked+label:hover~label,
.rating-area>input:checked~label:hover,
.rating-area>input:checked~label:hover~label,
.rating-area>label:hover~input:checked~label {
  color: #C29974;
  text-shadow: 1px 1px #C29974;
}

.rate-area>label:active {
  position: relative;
}

.dl-link {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #A2A2A2;
}

.dl-link {
  margin-top: 25px;
  margin-left: 115px;
}

.dl-link:hover,
.dl-link:focus,
.dl-link:active {
  color: #FFFFFF;
  text-decoration: underline;
}

/* img background */

img {
  display: block;
}

.product-img-1 {
  background: #DBE4DB;
}

.product-img-2 {
  background: #EADDD3;
}

.product-img-3 {
  background: #F8F2DA;
}

.product-img-4 {
  background: #D5D4E1;
}

.product-img-5 {
  background: #F3D0DB;
}

.product-img-6 {
  background: #E5EAF8;
}

/* chekbox */

.checkbox {
  display: none;
}

.checkbox-label::before {
  content: "";
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  background: transparent;
  border: 2px solid #C29974;
  border-radius: 3px;
  width: 19px;
  height: 19px;
}

.checkbox-label::after {
  content: "";
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  background: url(../img/checkbox_check.svg) #ffffff;
  border: 2px solid #C29974;
  border-radius: 3px;
  width: 19px;
  height: 19px;
  opacity: 0;
}

.checkbox:checked+.checkbox-label::after {
  opacity: 1;
}

.checkbox:disabled+.checkbox-label::before {
  opacity: 0.5;
}

.checkbox:disabled+.checkbox-label::after {
  opacity: 0.5;
}

/* radio */

.radio-btn {
  display: none;
}

.delivery-radio-label::before {
  content: "";
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  background: transparent;
  border: 2px solid #C29974;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.delivery-radio-label::after {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
  background: #C29974;
  border: 2px solid #C29974;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  opacity: 0;
}

.delivery-radio:checked+.delivery-radio-label::after {
  opacity: 1;
}

.delivery-radio:disabled+.delivery-radio-label::before {
  opacity: 0.5;
}

.amount-radio-label::before {
  content: "";
  left: 1px;
  top: 20px;
  position: absolute;
  background: #ffffff;
  width: 80px;
  height: 35px;
  z-index: -1;
}

.amount-radio-label::after {
  content: "";
  left: 1px;
  top: 20px;
  position: absolute;
  background: #F3D0DB;
  width: 80px;
  height: 35px;
  z-index: -1;
  opacity: 0;
}

.amount-radio:checked+.amount-radio-label::after {
  opacity: 1;
}

.amount-radio-label:hover::after {
  background-color: #F3D0DB;
  opacity: 0.3;
}

.amount-radio:disabled+.amount-radio-label::before {
  background-color: #C7C1C1;
}