/* Main Theme Slider */

.mg-main-theme-container {
  margin-top: 130px;
}

.pagination {
  margin-top: 20px;
  margin-left: 30px;
}

.main-theme {
  background: #EEE4DB;
  min-height: 411px;
  position: relative;
}

.slide-counter {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 60px;
  line-height: 73px;
  color: rgba(30, 6, 6, 0.05);
}

.main-theme-menu-button-head {
  width: 31px;
  height: 3px;
  border: none;
  outline: none;
  background-color: rgba(30, 6, 6, 0.6);
}

.main-theme-menu-button-head:hover {
  cursor: pointer;
}

.main-theme-menu-button {
  width: 31px;
  height: 3px;
  border: none;
  outline: none;
  background-color: #D6CAC2;
}

.main-theme-menu-button:hover,
.main-theme-menu-button:focus {
  background-color: rgba(30, 6, 6, 0.6);
  cursor: pointer;
}

.slide-info {
  display: flex;
  flex-direction: column;
}

.heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 44px;
  text-transform: uppercase;
  color: #1E0606;
  margin-top: 90px;
  margin-left: 40px;
  margin-bottom: 20px;
  width: 70%;
}

.design {
  font-family: 'Crimson Text', serif;
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  color: #1E0606;
  margin-left: 40px;
}

.explore-btn {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #000000;
  border: none;
  width: 161px;
  height: 40px;
  margin-left: 40px;
  margin-top: 20px;
}

.explore-btn:hover,
.explore-btn:focus {
  background-color: #C29974;
  cursor: pointer;
}

.explore-btn:active {
  background-color: #CFAF91;
}

.explore-btn:disabled {
  background-color: #C7C1C1;
}

.slide-img {
  position: absolute;
  bottom: 10px;
  right: 100px;
}

.shipping {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #C29974;
  position: absolute;
  padding: 11px;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  height: 39px;
  right: 0px;
}

.hidden {
  display: none;
}

/* h2 font style */

.category-heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  text-transform: uppercase;
  color: #1E0606;
  max-width: 1180px;
  margin: 0 auto;
}

/* Category Products */

.mg-catalog {
  margin-top: 90px;
}

.products-list {
  display: flex;
  flex-direction: row;
}

.products-list-item {
  display: flex;
  margin-right: 20px;
}

.products-list-item-link {
  position: relative;
}

.products-list-item-link-text {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.products-list-item-link-text:hover,
.products-list-item-link-text:focus {
  text-decoration: underline;
  cursor: pointer;
}

.product-description {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1E0606;
}

.arrow-btn {
  width: 37px;
  height: 37px;
  left: 110px;
  top: 1112px;
  border: none;
  background: rgba(112, 187, 220, 0.2);
  margin-right: 6px;
}

.arrow-btn:hover,
.arrow-btn:focus {
  cursor: pointer;
  opacity: 0.5;
}

.arrow-btn:active {
  opacity: 0.2;
}

.product-description {
  width: 50%;
  margin-top: 0;
  margin-left: 20px;
}

/* Delivery */

.mg-delivery {
  margin-top: 90px;
}

.delivery-info {
  display: flex;
  flex-direction: column;
  margin-left: 120px;
}

.delivery-list {
  margin-bottom: 30px;
  margin-top: 0;
}

.delivery-list-item {
  padding-top: 20px;
}

.delivery-heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  text-transform: uppercase;
  color: #1E0606;
}

.delivery-list-item-link {
  font-family: 'Crimson Text', serif;
  font-style: italic;
  font-weight: normal;
  font-size: 26px;
  line-height: 32px;
  color: #1E0606;
}

.delivery-list-item-link:hover,
.delivery-list-item-link:focus {
  font-weight: bold;
  background-color: rgba(112, 187, 220, 0.2);
}

.delivery-description {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1E0606;
}

.learn-btn {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  width: 149px;
  height: 40px;
  background: #000000;
}

.learn-btn:hover,
.learn-btn:focus {
  background-color: #C29974;
  cursor: pointer;
}

.learn-btn:active {
  background-color: #CFAF91;
}

.learn-btn:disabled {
  background-color: #C7C1C1;
}

/* partners */

.mg-partners {
  margin-top: 90px;
}

.partners-list {
  display: flex;
  align-items: center;
}

.partners-list-item {
  margin-right: 127px;
}

/* About Us */

.about-and-map {
  margin-top: 90px;
  margin-bottom: 155px;
}

.about-us {
  display: flex;
  flex-direction: column;
  position: relative;
  background: #E1F0F7;
  margin-right: 57px;
}

.dlk-head {
  position: absolute;
  top: -55px;
  left: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  text-transform: uppercase;
  color: #1E0606;
}

.about-heading {
  margin-left: 30px;
  margin-top: 30px;
  font-family: 'Crimson Text', serif;
  font-style: italic;
  font-weight: normal;
  font-size: 26px;
  line-height: 32px;
  color: #1E0606;
}

.about-info {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1E0606;
  max-width: 80%;
  margin-left: 30px;
}

.buy-btn {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  width: 123px;
  height: 40px;
  background: #000000;
  margin-left: 30px;
  margin-bottom: 30px;
}

.buy-btn:hover,
.buy-btn:focus {
  background-color: #C29974;
  cursor: pointer;
}

.buy-btn:active {
  background-color: #CFAF91;
}

.buy-btn:disabled {
  background-color: #C7C1C1;
}

/* Contacts */

.contacts {
  display: flex;
  position: relative;
  background: #E1F0F7;
}

.contact-head {
  position: absolute;
  top: -55px;
  left: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  text-transform: uppercase;
  color: #1E0606;
}

.contacts-info {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1E0606;
  padding-top: 40px;
  max-width: 80%;
  margin: 0 auto;
}

.map {
  position: absolute;
  top: 150px;
  left: 35px;
}

/* modal window */

.popup {
  background-color: #E5EAF8;
}

.popup label {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.popup input {
  background: #FFFFFF;
  border: 2px solid #C7C1C1;
}

.popup input:hover,
input:focus {
  background: #FFFFFF;
  border: 2px solid #C29974;
}

.popup input:disabled {
  background: #FFFFFF;
  border: 2px solid #EBEBEB;
}

.submit-btn {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #000000;
  border: none;
  width: 106px;
  height: 40px;
  left: 400px;
  top: 573px;
}

.submit-btn:hover,
.submit-btn:focus {
  background: #C29974;
}

.submit-btn:active {
  background: #CFAF91;
}

.submit-btn:disabled {
  background: #C1C1C1;
  color: #E1E1E1;
}