body {
   max-width: 1400px;
   padding: 0 110px;
   margin: 0 auto;
}

a {
   text-decoration: none;
}

header {
   display: flex;
   justify-content: space-between;
}

.header-logo {
   margin-top: 50px;
   margin-left: 110px;
}

.header-navigation {
   margin-top: 66px;
   margin-left: 60px;
}

.header-navigation-item {
   display: inline;
   margin: 0 10px;
   font-family: Open Sans;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 19px;
   text-transform: uppercase;
   color: black;
}

.header-section {
   display: flex;
   align-items: center;
}

.search-button {
   border: none;
   outline: none;
   background-color: #ffffff;
}