*,
*::after,
*::before {
   box-sizing: border-box;
}

a {
   text-decoration: none;
}

ul {
   margin-left: 0;
   padding-left: 0;
}

li {
   list-style-type: none;
}

:focus,
:hover,
:disabled {
   outline: none;
}

:active {
   text-decoration: none;
   border-bottom: none;
}

/* header */

.container {
   display: flex;
   border: 1px solid black;
   margin-top: 50px;
   max-width: 1180px;
   margin: auto;
}

.image {
   border: 1px solid blue;
}

.nav {
   border: 1px solid yellow;
}

.nav-list {
   display: inline-flex;
   border: 1px solid red;
   align-items: center;
}

.other {
   display: inline-flex;
   border: 1px solid blue;
   align-items: center;
   margin-left: auto;
}
