/* main */

.heading {
  margin-top: 60px;
  flex-direction: column;
}

h1 {
  font-family: "Montserrat", "Verdana", sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
  color: #1E0606;
  margin-bottom: 15px;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
}

.breadcrumbs-item {
  padding-right: 48px;
  position: relative;
}

.breadcrumbs-item:first-child::after {
  position: absolute;
  content: url(/img/breadcrumb.svg);
  right: 15px;
  bottom: 2px;
}

.breadcrumbs-item-link {
  font-family: "Crimson Text", "Palatino", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  color: #1E0606;
}

.breadcrumbs-item-link:hover,
.breadcrumbs-item-link:focus {
  opacity: 0.5;
}

.breadcrumbs-item-link:active { 
  opacity: 0.3;
}

.breadcrumbs-item:last-child {
  font-family: "Crimson Text", "Palatino", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  opacity: 0.5;
}

/* news block */

.news {
  margin-top: 50px;
}

.news-img {
  background-color: red;
}

.news-list {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.news-list-item {
  width: 33%;
}

.news-date {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #818181;
}

h2 {
  font-family: "Montserrat", "Verdana", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  color: #1E0606;
}

h2:hover,
h2:focus {
  text-decoration: underline;
}

.news-content {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #1E0606;
  width: 99%;
}

/* pagination */

.pagination {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  margin-top: 30px;
}

.pagination-list {
  display: flex;
}

.pagination-list-item {
  padding-left: 70px;
}

.pagination-list-item:first-child .pagination-list-item-link {
  color: #C29974;
}

.pagination-list-item-link {
  font-family: "Montserrat", "Verdana", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #1E0606;
}

.pagination-list-item-link:hover,
.pagination-list-item-link:focus {
  color: #C29974;
}

.arrow-btn {
  border: none;
  outline: none;
  background: transparent;
}

.arrow-btn:hover, .arrow-btn:focus {
  cursor: pointer;
}

.arrow-btn:active {
  opacity: 0.5;
}