body {
  max-width: 1400px;
  padding: 0 110px;
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  max-width: 1400px;
  padding: 0 110px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

li {
  list-style-type: none;
}

:focus,
:hover,
:disabled {
  outline: none;
}

:active {
  text-decoration: none;
  border-bottom: none;
}

/* rating stars */
.rating-area {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.rating-area:not(:checked)>input {
  display: none;
}

.rating-area:not(:checked)>label {
  float: right;
  width: 42px;
  padding: 0;
  cursor: pointer;
  font-size: 32px;
  line-height: 32px;
  color: lightgrey;
  text-shadow: 1px 1px #bbb;
}

.rating-area:not(:checked)>label:before {
  content: '★';
}

.rating-area>input:checked~label {
  color: #7b6968;
  text-shadow: 1px 1px #7b6968;
}

.rating-area:not(:checked)>label:hover,
.rating-area:not(:checked)>label:hover~label {
  color: #7b6968;
}

.rating-area>input:checked+label:hover,
.rating-area>input:checked+label:hover~label,
.rating-area>input:checked~label:hover,
.rating-area>input:checked~label:hover~label,
.rating-area>label:hover~input:checked~label {
  color: #7b6968;
  text-shadow: 1px 1px #7b6968;
}

.rate-area>label:active {
  position: relative;
}