/* main */

.heading {
  -webkit-flex-direction: column;
    -moz-flex-direction: column;
      flex-direction: column;
  margin-top: 60px;
}

h1 {
  font-family: "Montserrat", "Verdana", sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
  color: #1E0606;
  margin-bottom: 15px;
}

.breadcrumbs {
  -webkit-display: flex;
    -moz-display: flex;
      display: flex;
  -webkit-flex-direction: row;
    -moz-flex-direction: row;
      flex-direction: row;
}

.breadcrumbs-item {
  padding-right: 48px;
  position: relative;
}

.breadcrumbs-item:first-child::after {
  position: absolute;
  content: url(../../../img/breadcrumb.svg);
  right: 15px;
  bottom: 4px;
}

.breadcrumbs-item-link {
  font-family: "Crimson Text", "Palatino", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  color: #1E0606;
}

.breadcrumbs-item-link:hover,
.breadcrumbs-item-link:focus {
  opacity: 0.5;
}

.breadcrumbs-item-link:active {
  opacity: 0.3;
}

.breadcrumbs-item:last-child {
  font-family: "Crimson Text", "Palatino", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  opacity: 0.5;
}

.main-content-wrapper {
  margin-top: 50px;
  margin-bottom: 60px;
}

/* contact-form */

fieldset {
  border: none;
}

.contact-form {
  -webkit-display: flex;
    -moz-display: flex;
      display: flex;
  width: 680px;
  height: max-content;
  background: #E5EAF8;
  padding-top: 40px;
}

.contact-form label {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #1E0606;
  padding-bottom: 3px;
}

.checkbox-label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.contact-form input {
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.name-input {
  width: 600px;
  height: 50px;
  margin: 0px auto;
  padding: 20px 11px 14px;
}

.name-input::placeholder {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #1E0606;
}

.contact-info {
  -webkit-display: flex;
    -moz-display: flex;
      display: flex;
  -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
      justify-content: space-between;
  margin: 0 auto;
}

.contact-input {
  width: 280px;
  height: 50px;
  padding: 20px 11px 14px;
}

.input-wrap {
  -webkit-display: flex;
    -moz-display: flex;
      display: flex;
  -webkit-flex-direction: column;
    -moz-flex-direction: column;
      flex-direction: column;
}

.contact-form input:hover,
input:focus {
  padding: 19px 10px 13px;
  background: #FFFFFF;
  border: 2px solid #C29974;
}

.contact-form input:disabled {
  padding: 19px 10px 13px;
  background: #FFFFFF;
  border: 2px solid #EBEBEB;
}

textarea {
  margin: 0 auto;
  width: 600px;
  height: 150px;
  resize: none;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px 11px 14px;
}

textarea:hover,
textarea:focus {
  background: #FFFFFF;
  border: 2px solid #C29974;
}

textarea:disabled {
  background: #FFFFFF;
  border: 2px solid #EBEBEB;
}

.submit-btn {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #000000;
  border: none;
  width: 106px;
  height: 40px;
  position: relative;
  margin-top: 17px;
}

.submit-btn:hover,
.submit-btn:focus {
  background: #C29974;
}

.submit-btn:active {
  background: #CFAF91;
}

.submit-btn:disabled {
  background: #C1C1C1;
  color: #E1E1E1;
}

/* info */

.info {
  -webkit-display: flex;
    -moz-display: flex;
      display: flex;
  -webkit-flex-flow: column;
    -moz-flex-flow: column;
      flex-flow: column;
  -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
      align-items: flex-start;
  padding-left: 120px;
}

p {
  margin: 20px 0 20px 0;
}

.info-text {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1E0606;
  margin-top: 0;
  width: 100%;
}

.uppercase-text {
  font-family: "Montserrat", "Verdana", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 34px;
  text-transform: uppercase;
  color: #C29974;
  margin-top: 0;
}