/* main */

.heading {
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
  color: #1E0606;
}

.breadcrumbs {
  display: flex;
}

.breadcrumbs-item {
  padding-right: 20px;
}

.breadcrumbs-item-link {
  font-family: "Crimson Text", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  color: #1E0606;
}

.breadcrumbs-item-link:hover,
.breadcrumbs-item-link:focus {
  opacity: 0.5;
}

.breadcrumbs-item-link:active {
  opacity: 0.3;
}

.breadcrumbs-item-active {
  font-family: 'Crimson Text', serif;
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  opacity: 0.5;
}

/* filtr */

.filtr {
  display: flex;
  height: 254px;
  margin-top: 50px;
  align-items: center;
  justify-content: space-evenly;
  background: rgba(125, 151, 218, 0.2);
  ;
}

legend {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #1E0606;
}

fieldset {
  border: none;
}

fieldset>label {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1E0606;
}

.apply-btn {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  border: none;
  width: 95px;
  height: 40px;
  left: 1110px;
  top: 380px;
  background: #000000;
}

.apply-btn:hover,
.apply-btn:focus {
  background-color: #C29974;
  cursor: pointer;
}

.apply-btn:active {
  background-color: #CFAF91;
}

.apply-btn:disabled {
  background-color: #C7C1C1;
}

/* products */

.product {
  margin-top: 50px;
}

.product-list {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.product-list-item {
  
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #1E0606;
  text-transform: uppercase;
}

.price {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #1E0606;
}

/* pagination */

.pagination-list-item-link {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #1E0606;
}

.pagination-list-item-link:hover,
.pagination-list-item-link:focus {
  color: #C29974;
}

.arrow-btn {
  border: none;
  outline: none;
  background: transparent;
}
