/* main */

.heading {
  margin-top: 60px;
  flex-direction: column;
}

h1 {
  font-family: "Montserrat", "Verdana", sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
  color: #1E0606;
  margin-bottom: 15px;
}

.breadcrumbs {
  display: flex;
}

.breadcrumbs-item {
  position: relative;
  padding-right: 48px;
}

.breadcrumbs-item:first-child::after {
  position: absolute;
  content: url(/img/breadcrumb.svg);
  right: 15px;
  bottom: 4px;
}

.breadcrumbs-item-link {
  font-family: "Crimson Text", "Palatino", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  color: #1E0606;
}

.breadcrumbs-item-link:hover,
.breadcrumbs-item-link:focus {
  opacity: 0.5;
}

.breadcrumbs-item-link:active {
  opacity: 0.3;
}

.breadcrumbs-item:last-child {
  font-family: "Crimson Text", "Palatino", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  opacity: 0.5;
}

/* Catalog */

.category-list {
  display: flex;
  flex-flow: row wrap;
  margin-left: 0;
  margin: 0 auto;
}

.category-list-2 {
  padding-left: 200px;
}

.category-list-item {
  display: flex;
  margin: 20px 20px 0 0;
}

.category-list-item-link {
  position: relative;
}

.category-list-item-link-text {
  font-family: "Montserrat", "Verdana", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.category-list-item-link-text:hover,
.category-list-item-link-text:focus {
  text-decoration: underline;
  cursor: pointer;
}

/* description */

.description {
  flex-direction: column;
  margin-top: 55px;
  margin-bottom: 55px;
}

.description-text {
  width: 73%;
  margin: 15px 0 0 0;
}

h2 {
  font-family: "Montserrat", "Verdana", sans-serif;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  text-transform: uppercase;
  color: #1E0606;
  padding-left: 200px;
  margin: 0 0 25px 0;
}

.description-text {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1E0606;
  padding-left: 200px;
}
